$calendarTextColor : #605f5d;
$calendarBorderColor:#ebebeb;
$calendarTextSecondColor:#8c8b88;
$calendarTextThirdColor:#383734;
$calendarHoverColor: #b15a7c;
$calendarGradientColor:linear-gradient(#b15a7c, #f1e1e7);
$calendarGradientColor2:linear-gradient(to left, #b16f885d, #f1eaed);
$formBackgroundColor:#f1e1e7;
$mainSiteFont:'Poppins',
sans-serif;
$mainSiteNiceFont: 'Parisienne',
cursive;

$mainSiteTextColor: #b15a7c;