{% extends "base.html" %} {% load static %} {% block main %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation details</title>
    <link rel="stylesheet" href="{% static 'bookings/sass/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section class="summary">
      {% comment %}
      <div class="logo">
        <a href="{% url 'bookings:main_page'%}">
          <img src="{% static 'bookings/img/logo-1.png'%}" alt="" />
        </a>
      </div>
      {% endcomment %}

      <h1>Your reservation details</h1>

      <div class="res-summary">
        <p>Chosen service</p>
        <div class="box service">
          {{service}}
          <span> Price</span> {{ service.price}} eur
        </div>
        <p>Chosen Date</p>
        <div class="box date">{{ timestamp }}</div>
        <p>Chosen employee</p>
        <div class="box employee">{{employee}}</div>
      </div>

      <div class="conf-info">
        <p>
          To make a reservation for chosen date and service, please provide your
          personal data and submit.
        </p>
      </div>
    </section>

    <div class="errors">{{ form2.errors}}</div>

    <div class="errors">{{ form.errors}}</div>
    <div class="return">
      <a href="{%  url 'bookings:index' %} ">
        <i class="fas fa-chevron-left"></i>
        <span>Back to calendar</span>
      </a>
    </div>

    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
{% endblock %}
