{% extends "base.html" %} {% load static %} {% block main %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="{% static 'bookings/sass/main.css'%}" />
  </head>

  <body>
    <section class="confirmation">
      <div class="background"></div>
      <div class="confirm-box">
        <div class="box head">Thank you, your reservation is confirmed.</div>
        <div class="box head">Reservation details:</div>

        <div class="box">
          <span>Service: {{reservation.service}}</span>
        </div>
        <div class="box">
          <span>Price: {{ reservation.price}} EUR </span>
        </div>
        <div class="box">
          <span>Appointment: {{ reservation.timestamp }} </span>
        </div>
        <div class="box">
          <span>Employee: {{reservation.employee}} </span>
        </div>
        <div class="box">
          <code>Reservation code: {{ reservation.code }}</code>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}
