{% extends "base.html" %}

{% load static %}
{% block main %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalendarz</title>
    <link rel="stylesheet" href="{% static 'bookings/sass/main.css'%}">
</head>

<body>
    <section class="confirmation">
        <div class="background">

        </div>
        <div class="confirm-box">

            <div class="box head">
                Dziękujemy za dokonanie rezerwacji w naszym salonie. Twoja rezerwacja jest potwierdzona.
            </div>
            <div class="box head">
                Szczegóły Twojej rezerwacji :
            </div>

            <div class="box">
                <span>Wybrana usługa: {{reservation.service}}</span>
            </div>
            <div class="box">
                <span>Cena usługi: {{ reservation.price}} pln </span>
            </div>
            <div class="box">
                <span>Zarezerwowany termin: {{ reservation.timestamp }} </span>
            </div>
            <div class="box">
                <span>Wybrany pracownik: {{reservation.employee}} </span>
            </div>
            <div class="box">
                <code>Kod rezerwacji: {{ reservation.code }}</code>
            </div>








        </div>

    </section>



</body>

</html>
{% endblock %}